# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# cache
.cache/
.turbo/

# editor
.vscode/
.idea/

# system
.DS_Store
Thumbs.db

# personal
todo.md